body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/background.jpg');
}
h2{
    font-size: 26px;
    padding-left: 5%;
}
.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;

}
/*HEADER*/
#logo{
    border: 2px solid black;

    padding: 0% 1% 0% 1%;
    transition: 2s;
}
#logo:hover{
    background-color: rgba(0,0,0,0.5);
}
header{
    background-color: #1C1C1C;
    border-radius: 0px 0px 15px 15px;
}
header h1 {
    padding-left: 0%;
    margin-top: -5%;
    margin-left: 10%;
    padding-bottom: 3%;
    font-size: 45px;
    color: white;
}
.icones{
    position: relative;
    float: right;
    top: -26.9%;

}
.excecao{
    display:block;
    width: 90%;
    align-self: auto;
}
.excecao > img{
    width: 7%;
    margin-top: 1%;
}
li{
    display: inline;
    padding: 0.2em;
}
/*BODY*/
section{
    margin-top: 5%;
    border: 1px solid black;
    overflow: hidden;
    height: 90%;
}
section h1{
    font-size: 50px;
    padding-left: 38%;
}
/*BIG TITLE*/
#bigTitle{
    border: none;
}
#bigTitle h2 + div{
    background-color: black;
}
#bigTitle .devices{
    width: 30%;
    align-self: center;
    float: left;
    margin: auto;
}
#bigTitle img{
    width:inherit;
}
#bigTitle h2{
    margin-top: 4%;
}
 p{
    width: 50%;
    margin: 0% 0% 1% 5%;

    text-indent: 10px;

}
#bigTitle h1 + div{

    display: grid;
    grid-template-columns: auto auto;
}
#va{
    position: relative;    
    right: 15%;
    top: 45%;
}
#va li{
    padding: 2em;
}
/*SOBRE*/
#sobre h2{
    
}
#sobre div p+ div{
    width: 40%;
    position: relative;
    right: 4%;
    bottom: 2%;
    margin-top: -10%;
    float: right;

    display: grid;
    grid-template-columns: auto;
}

#sobre div p+ div img{
    margin:auto;
    margin-top: 3%;
    transition: 2s;
    margin-bottom: 3%;

}
#sobre div p+ div img:hover{
    transform: scale(1.2) ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

#sobre div p+ div p{
    float: none;
    clear: none;
    margin: auto;
    margin-top: 1%;
    width: 70%;
}
#sobre p{
    margin: 2% 0% auto 5%;
    float: left;
    clear: both;
}
/*CONTATOS*/
#formPI{

    border: 1px solid black;

    width: 40%;
    height: 100%;
}
#formPI form{
    margin-left: 5%;
    margin-top: 4%;
}
#formPI input{
    float: left;
    clear: both;
    margin-bottom: 2%;

    width: 50%;
}
#formPI #nome{
    width: 50%;
    clear: none;
}
#formPI #data{
    width: 25%;
    position: relative;
    float: right;
    right: 10%;
    margin-top: -7%;